<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">
  <description>
    MMBase is an open-source content managment system. See http://www.mmbase.org/.
    This is the test-environment.
  </description>
  <display-name>MMBase web-site</display-name>

  <context-param>
    <param-name>mmbase.taglib.eval_body_include</param-name>
    <param-value>true</param-value>
  </context-param>
  

  <filter>
    <filter-name>Jumpers Filter</filter-name>
    <display-name>Jumpers Filter</display-name>
    <description>Filter used for jumpers</description>
    <filter-class>org.mmbase.servlet.JumpersFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>Jumpers Filter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <!-- The base MMBase servlet informs about the current MMBase version -->
  <servlet>
    <servlet-name>version</servlet-name>
    <description>To get the version of MMBase</description>
    <servlet-class>org.mmbase.servlet.MMBaseServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <!-- The MMBase image serving servlet. -->
  <servlet>
    <servlet-name>images</servlet-name>
    <description>To extract images from MMBase</description>
    <servlet-class>org.mmbase.servlet.ImageServlet</servlet-class>
    <init-param>
      <!-- Expire time of original images. Cached images never expire. -->
      <param-name>expire</param-name>
      <!-- 10 minutes (default is one hour)-->
      <param-value>600</param-value>
    </init-param>
    <init-param>
      <!-- Whether to accepts image conversion on the URL -->
      <param-name>convert</param-name>
      <param-value>false</param-value>
    </init-param>
    <init-param>
      <!-- Field of image node to use for 'last modified' -->
      <param-name>lastmodifiedfield</param-name>
      <param-value></param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>

  <!-- The MMBase attachment serving servlet. -->
  <servlet>
    <servlet-name>attachments</servlet-name>
    <description>To retrieve binary files from MMBase</description>
    <servlet-class>org.mmbase.servlet.AttachmentServlet</servlet-class>
    <init-param>
      <!-- Expire time of original images. Cached images never expire. -->
      <param-name>expire</param-name>
      <!-- 10 minutes (default is one hour)-->
      <param-value>600</param-value>
    </init-param>
    <init-param>
      <!-- Field of attachment node to use for 'last modified' -->
      <param-name>lastmodifiedfield</param-name>
      <param-value></param-value>
    </init-param>
    <load-on-startup>3</load-on-startup>
  </servlet>

  <!-- mapping for version-request -->
  <servlet-mapping>
    <servlet-name>version</servlet-name>
    <url-pattern>/version</url-pattern>
  </servlet-mapping>

  <!-- mapping for image-requests -->
  <servlet-mapping>
    <servlet-name>images</servlet-name>
    <url-pattern>/mmbase/images/*</url-pattern>
  </servlet-mapping>

  <!-- mapping for attachment-requests -->
  <servlet-mapping>
    <servlet-name>attachments</servlet-name>
    <url-pattern>/mmbase/attachments/*</url-pattern>
  </servlet-mapping>

  <mime-mapping>
    <extension>mmbase-module</extension>
    <mime-type>application/java-archive</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>war</extension>
    <mime-type>application/java-archive</mime-type>
  </mime-mapping>

  <mime-mapping>
    <extension>xsd</extension>
    <mime-type>application/xml</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>pom</extension>
    <mime-type>application/xml</mime-type>
  </mime-mapping>

  <welcome-file-list>
    <!-- index.jsp is the default -->
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jspx</welcome-file>
  </welcome-file-list>

  <error-page>
    <error-code>404</error-code>
    <location>/index.jsp?page=21649</location>
  </error-page>
  <error-page>
    <error-code>400</error-code>
    <location>/mmbase/errorpages/400.jsp</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/mmbase/errorpages/403.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/mmbase/errorpages/500.jsp</location>
  </error-page>error-page>
  <error-page>
    <error-code>503</error-code>
    <location>/mmbase/errorpages/503.jsp</location>
  </error-page>
</web-app>
