/*
note: replaced 
10px = 0.8em 
11px = 0.85em
12px = 1em
*/

body
{
    font-family: "Lucida Grande", Verdana, Arial, sans-serif;
    background-color: white;
    margin: 0px;
    padding: 0px;
    font-size: 90%;
}

p
{
    font-size: 0.85em;
    text-align: left;
    margin: 0px;
    padding: 2px 0 1em 0;
    line-height: 1.2em;
}

td { font-size: 0.85em; }
td p { font-size: 1.0em; }

dt
{
    margin-left: 20px;
    font-weight: bold;
    color: #5D5D5D;
    font-size: 1em;
    text-decoration: underline;
}

dd
{
    margin-left: 20px;
    margin-bottom: 5px;
    font-size: 1em;
}

blockquote
{
    font-size: 0.85em;
    text-align: left;
    background: #EFEFEF;
}

ol
{
    text-align: left;
    margin: 0 0 1em 0;
}

ul
{
    text-align: left;
    margin: 0;
    padding: 0 0 1em 1.5em;
}

ul li { list-style: circle;}

fieldset
{
	border: 0;
	padding: 0;
	margin: 0;
}

label
{
	font-weight: bold;
	display: block;
}

.none {  }

.none li
{
	list-style: inside;
	margin-left: -1.4em;
	margin-right: 4px;
}

h1
{
    font-size: 1.8em;
    font-weight: bold;
    color: #003333;
    text-align: left;
    padding-bottom: 5px;
}

h2
{
    font-size: 1.6em;
    font-weight: bold;
    color: #003333;
    text-align: left;
}

h3
{
    font-size: 1.4em;
    font-weight: bold;
    color: #003333;
    text-align: left;
}

h4
{
    font-size: 1.2em;
    font-weight: bold;
    color: #003333;
    text-align: left;
}

h5
{
    font-size: 1em;
    font-weight: bold;
    color: #003333;
    text-align: left;
}

h6
{
    font-size: 0.85em;
    font-weight: bold;
    color: #003333;
    text-align: left;
}

h1, h2, h3, h4, h5, h6 { margin: 10px 0 0 0; }

b
{
    font-weight: bold;
    color: #003333;
}

strong
{
    font-weight: bold;
    color: #003333;
}

/* ###### pagedivision ###### */
#pagecontent { margin: 0 0 2em 150px; }
#textcontent { margin: 0 33% 2em 150px; }
#textcontent ul { font-size: 0.85em; }

#relatedcontent
{
    margin: 0 4px 2em 4px;
    padding: 0 1em 1em 1em;
    float: right;
    width: 27%;
    /* background-color: #FC9; */
}

#relatedcontent .relationcontainer th { font-size: 0.85em; }
#relatedcontent .relationcontainer td { font-size: 0.85em; }
#relatedcontent ul { font-size: 0.85em; }

.sponsorlogos
{
	text-align: center;
	margin: -1em 0 0 0;
}

#footer
{
    clear: right;
    font-size: 0.8em;
    padding: 4px 0 20px 0;
    margin: 60px 0 20px 0;
    border-color: #033;
    border-width: 1px 0 0 0;
    border-style: solid;
    text-align: center;
    width: 100%;
}

/* ###### /pagedivision ###### */
/* class for javascript:window.open() stuff */
#windowopen
{
    margin: 12px 7% 12px 7%;
    padding: 4px;
    border-color: #CCC;
    border-width: 1px;
    border-style: solid;
}

#windowopen .close
{
    font-size: 1em;
    float: right;
}

.relatedpages
{
    margin: 4px 0 10px 150px;
    font-weight: normal;
    font-size: 0.8em;
    border-color: #999;
    border-width: 0 0 1px 0;
    border-style: none none solid none;
    padding: 0 0 4px 0;
}

.relatedpages a { font-weight: lighter; }

.relatedpages strong a
{
    font-weight: bold;
    text-decoration: underline;
    text-transform: inherit;
}

.layout { width: 100%; }

.layout, .layout th, .layout td
{
    border: 0px;
    /*
    padding: 0px;
    margin: 0px;
*/
    background-color: white;
    text-align: left;
    vertical-align: top;
}

.list
{
    border-left: 1px solid #797868;
    border-top: 1px solid #797868;
    padding: 0px;
}

.list tr th
{
    margin: 0px;
    padding: 3px;
    border-right: 1px solid #797868;
    border-bottom: 1px solid #797868;
    font-size: 0.75em;
    background-color: #CCEB6F;
    color: #3B3B3B;
}

.list td
{
    background-color: #f7faef;
    font-size: 0.7em;
    color: black;
    border-right: 1px solid #797868;
    border-bottom: 1px solid #797868;
    padding-left: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.list .listsearch td
{
    background-color: #E7EBDE;
    border-right: 1px solid #797868;
    border-bottom: 1px solid #797868;
    padding: 3px;
}

.list tr .listpaging
{
    background-color: #CCEB6F;
    padding: 3px;
}

.relationcontainer
{
    margin: 4px 4px 4px 0;
    width: 240px;
    border: 1px solid #797868;
}

.relationcontainer th
{
    font-size: 1em;
    background-color: #CCEB6F;
    border: 0px;
    padding: 3px 4px 3px 4px;
    margin: 0px;
}

.relationcontainer td
{
    font-size: 1em;
    border: 0px;
    border-top: 1px solid #D8D8D8;
    padding: 0 4px 3px 4px;
}

.relationcontainer p { padding: 4px 0 1px 0; }
.relationcontainer img { border: 0; }

/* 
    have noticed the following classes being used in the bugtracker 
*/

.subnav { height: 28px; }

.subnav td
{
    border: 1px solid white;
    background-color: #E7EBDE;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

.subnav td a
{
    color: black;
    font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
}

.subnav  td a:link { color: black; }
.subnav td a:visited { color: black; }
.subnav td a:hover { color: #797868; }

.subnav tr .selected
{
    background-color: #CCEB6F;
    color: black;
    font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
}

/*
    breadcrum and links
*/

.breadcrumbar
{
    background: #CCEB6F;
    width: 100%;
    height: 18px;
    border-bottom: black;
    border-width: 0 0 1px 0;
    border-style: none none solid none;
}

.breadcrumbar td
{
    background: #CCEB6F;
    vertical-align: middle;
    padding: 3px 0px 3px 5px;
}

.breadcrumbar td a { color: black; }
.breadcrumbar td a:hover { color: #797868; }

a:link
{
    color: #7A9B15;
    text-decoration: none;
    font-weight: bold;
}

a:visited
{
    color: #7A9B15;
    text-decoration: none;
    font-weight: bold;
}

a:hover
{
    color: #797868;
    text-decoration: none;
}

/*
    breadcrum and links
*/

.content
{
    border-color: #333;
    border-width: 0px 1px 1px 0px;
    border-style: solid;
}

.intro { font-weight: bold; }

.imgtitle
{
    font-size: 0.8em;
    font-weight: normal;
}

/*
    Form items etc
*/

input
{
    text-align: left;
    font-family: Monaco, "Courier New", monospace;
    background-color: #D9DDDE;
    margin: 2px;
    padding: 2px;
    font-size: 0.9em;
}

/* this is for the radiobuttons on the homepage
   MSIE shows a background color */

input.ie
{
    text-align: left;
    font-family: Monaco, "Courier New", monospace;
    background-color: #fff;
    margin: 2px 4px 2px 2px;
    padding: 2px;
}

input.mmbase
{
    text-align: left;
    font-family: Monaco, "Courier New", monospace;
    background-color: #D9DDDE;
    margin: 2px;
    padding: 2px;
}

select
{
    font-family: "Lucide Grande", Arial, sans-serif;
    background-color: #D9DDDE;
    padding: 2px;
    margin: 2px;
}

textarea
{
    background-color: #D9DDDE;
    border-color: #666;
    border-width: 1px 0 0 1px;
    font-size: 0.9em;
    font-family: Monaco, "Courier New", monospace;
}

/* Stylesheet for news pages in dev portal */
.newsinhoud
{
    width: 540px;
    padding: 10px 40px 10px 0px;
}

.newstitle
{
    font-family: "Lucida Grande", Geneva, Helvetica, Arial, sans-serif;
    font-size: 1.4em;
    font-weight: bold;
    padding: 5px 0px 4px 0px;
}

.newssubtitle
{
    padding: 0px 5px 5px 0px;
    font-family: "Lucida Grande", Geneva, Helvetica, Arial, sans-serif;
    font-size: 1em;
    font-weight: bold;
    color: #333;
}

.newssubL
{
    position: relative;
    float: left;
    display: inline;
    margin: 0;
}

.newssubR
{
    position: relative;
    float: right;
    display: inline;
    margin: 0;
}

.newsintro
{
    padding: 10px 0px 10px 0px;
    font-weight: bold;
    clear: both;
}

.newsbody
{
    line-height: 130%;
    padding: 0pt 5pt 0pt 0pt;
}

.newsurls
{
    position: relative;
    float: right;
    margin: 0px 10px 5px 10px;
}

.newsnextprev
{
    margin: 5px 0px 0px 0px;
    border-color: #797868;
    border-width: 1px;
    border-style: solid;
    width: 100%;
}

.newsnextprev td
{
    background-color: #CCEB6F;
    padding: 1px 20px 1px 20px;
    text-align: center;
    vertical-align: middle;
    border-color: #FFFFFF;
    border-width: 1px;
    border-style: solid;
}

/* tabs */
#tabnav
{
    height: 20px;
    margin: 0;
    padding-left: 10px;
    background: url(/../images/tab_bottom.gif) repeat-x bottom;
}

#tabnav li
{
    margin: 0;
    padding: 0;
    display: inline;
    list-style-type: none;
}

#tabnav a:link, #tabnav a:visited
{
    float: left;
    background: #ddd;
    font-size: 0.85em;
    line-height: 14px;
    font-weight: bold;
    padding: 2px 10px 2px 10px;
    margin-right: 4px;
    border: 1px solid #000000;
    text-decoration: none;
    color: #666;
}

#tabnav a:link.active, #tabnav a:visited.active
{
    border-bottom: 1px solid #f3f3f3;
    background: #f3f3f3;
    color: #000000;
}

#tabnav a:hover { background: #f3f3f3; }

/* search */
#searchhome
{
    margin: 40px 0 0 0;
    padding: 4px;
    width: 200px;
    border-color: #666;
    border-width: 1px;
    background-color: #efefef;
    border-style: solid;
    white-space: nowrap;
}

#searchform
{
    font-size: 0.9em;
    margin: 15px 10px 20px 0;
    padding: 10px;
    width: 50%;
    border-color: #666;
    border-style: solid;
    background-color: #efefef;
    border-width: 1px;
}

.documentXYZ { margin: 10pt 0 10pt 0; }
#results { margin: 10px 10px 10px 0; }

#results ul
{
    list-style: none;
    padding: 0;
    margin: 0;
    /* False value for IE4-5.x/Win. */
    voice-family: "\"}\"";
    voice-family: inherit;
    /* You get it. Good value for compliant browers. */
}

#results li
{
    text-decoration: none;
    text-align: left;
    margin: 0 0 0.85em 0;
    padding: 0;
}

#results li a
{
    /*  background-color: #EFEFEF;  */
    display: block;
    text-decoration: none;
}

#results li a:hover
{
    color: #330;
    text-decoration: underline;
}

#results li a:active
{
    color: #CF0;
    text-decoration: underline;
}

.resultcomment { color: #666; }

/* end search*/
/* warning (bad) and message (good) trickered by user action */
.warning
{
    border-style: double;
    border-color: #C03;
    border-width: 2px;
    background-color: #F99;
    margin: 15px 6px 6px 6px;
    padding: 10px;
    width: 60%;
}

.message
{
    border-style: double;
    border-color: #360;
    border-width: 2px;
    background-color: #CFC;
    margin: 15px 6px 6px 6px;
    padding: 10px;
    width: 60%;
}

.logocmsc
{
	border: 0;
	margin-top: 14px;
}

/* messages */
.msg
{
    border: 1px solid #002828;
    background-color: #d6e44b;
    width: 75%;
    text-align: center;
    margin: 4px auto 4px auto;
    padding: 0.7em;
}

.err
{
	border: 1px #900 solid;
	background-color: #FCC;
	width: 75%;
	text-align: center;
    margin: 4px auto 4px auto;
    padding: 0.7em;
}
