/*
	breadcrum and links
*/

.breadcrumbar
{
	font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
	font-size: 10px;
	background: #EBC;
	width: 100%;
	height: 18px;
	border-bottom: black;
	border-width: 0 0 1px 0;
	border-style: none none solid none;
}

.breadcrumbar td
{
	font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
	font-size: 10px;
	background: #EBC;
	vertical-align: middle;
	padding: 3px 0px 3px 5px;
}

/* new head */
#top { background-color: #EBC; }

.tdheader
{
	background-image: url(../media/repeat_dev.jpg);
	background-repeat: repeat-x;
	background-color: #CCC;
	height: 55px;
}
