
/* Bit of extra not for Netscape 4 */



/* This style sheet is for the general navigation on all pages. The only thing that differs
	is the background it's placed against (div.bg), this background is set in the style
	sheets of the various templates. */

div.navilayer {position: absolute;
	top: 77px;
	visibility: hidden;
	width: 140px;
	z-index: 2;
}

/* The extra DIV around each A. I'd rather have left it out, but
	since IE4 doesn't support a {display: block} we need it */

div.navilayer div {
	width: 140px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #F9FAFB;
	padding-top: 5px;
	padding-bottom: 5px;
        font-family: "Lucida Grande", Verdana, Arial, sans-serif;
	font-size: 12px;
	letter-spacing: 1px; 
	margin-left: 0px;
	background: #E6E9DD;
}

div.navilayer div.fill {
	width: 140px;
	border-top-width: 0px;
	padding-top: 6px;
	padding-bottom: 5px;
	margin-left: 0px;
	background: transparent;
}

/* The actual links */

div.navilayer a {
	display: block;
	text-decoration: none;
	padding-left: 5px;
        font-family: "Lucida Grande", Verdana, Arial, sans-serif;
	color: #3E3E3E;
	font-weight: normal;
}

/* onMouseOver I give the DIV around the links a CLASS="over".
	These are the styles for that class */

div.navilayer div.over {
	background: #C4E856;
}

div.navilayer div.over a {
	color: #3E3E3E;
}

div.navilayer div.normal {
	background: #E6E9DD;
}

div.navilayer div.normal a {
	color: #3E3E3E;
}

