body
{
	font-family: "Lucida Grande", Verdana, Arial, sans-serif;
	font-size: 10px;
	background-color: white;
	margin: 0px;
	padding: 0px;
}

td
{
	font-family: "Lucida Grande", Verdana, Arial, sans-serif;
	font-size: 10px;
}

p
{
	font-size: 11px;
	text-align: left;
	margin: 0px;
	padding: 0 0 11pt 0;
}

ul
{
	margin-top: 10px;
	margin-bottom: 10px;
}

dt
{
	margin-left: 20px;
	font-weight: bold;
	color: #5D5D5D;
	font-size: 14px;
	text-decoration: underline;
}

dd
{
	margin-left: 20px;
	margin-bottom: 5px;
	font-size: 12px;
}

blockquote
{
	font-size: 12px;
	text-align: left;
	background: #EFEFEF;
}

ul
{
	font-size: 11px;
	text-align: left;
}

ol
{
	font-size: 11px;
	text-align: left;
}

h1
{
	font-size: 24px;
	font-weight: bold;
	color: #003333;
	text-align: left;
	padding-bottom: 5px;
}

h2
{
	font-size: 18px;
	font-weight: bold;
	color: #003333;
	text-align: left;
}

h3
{
	font-size: 16px;
	font-weight: bold;
	color: #003333;
	text-align: left;
}

h4
{
	font-size: 14px;
	font-weight: bold;
	color: #003333;
	text-align: left;
}

h5
{
	font-size: 12px;
	font-weight: bold;
	color: #003333;
	text-align: left;
}

h6
{
	font-size: 10px;
	font-weight: bold;
	color: #003333;
	text-align: left;
}

h1, h2, h3, h4, h5, h6 { margin: 10px 0 0 0; }

b
{
	font-weight: bold;
	color: #003333;
}

strong
{
	font-weight: bold;
	color: #003333;
}

#pagecontent
{
	margin: 0 0 20px 150px;
}

.relatedpages
{
	margin: 4px 0 10px 150px;
	font-weight: normal;
	font-size: 1.1em;
	border-color: #999;
	border-width: 0 0 1px 0;
	border-style: none none solid none;
	padding: 0 0 4px 0;
}

.relatedpages a { font-weight: lighter; }

.relatedpages strong a
{
	font-weight: bold;
	text-decoration: underline;
	text-transform: inherit;
}

#footer
{
	font-size: 10px;
	padding: 4px 0 20px 0;
	margin: 40px 0 0 0;
	border-color: #033;
	border-width: 1px 0 0 0;
	border-style: solid;
	text-align: center;
	width: 100%;
}

.layout { width: 100%; }

.layout, .layout th, .layout td
{
	border: 0px;
/*
	padding: 0px;
	margin: 0px;
*/	background-color: white;
	text-align: left;
	vertical-align: top;
	font-size: 11px;
}

.list
{
	border-left: 1px solid #797868;
	border-top: 1px solid #797868;
	padding: 0px;
}

.list tr th
{
	margin: 0px;
	padding: 3px;
	border-right: 1px solid #797868;
	border-bottom: 1px solid #797868;
	font-size: 12px;
	background-color: #CCEB6F;
	color: #3B3B3B;
}

.list td
{
	background-color: #f7faef;
	font-size: 11px;
	color: black;
	border-right: 1px solid #797868;
	border-bottom: 1px solid #797868;
	padding-left: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.list .listsearch td
{
	background-color: #E7EBDE;
	border-right: 1px solid #797868;
	border-bottom: 1px solid #797868;
	padding: 3px;
}

.list tr .listpaging
{
	background-color: #CCEB6F;
	padding: 3px;
}

.relationcontainer
{
	margin: 4px 4px 4px 0;
	width: 200px;
	border: 1px solid #797868;
}

.relationcontainer th
{
	background-color: #CCEB6F;
	border: 0px;
	padding: 3px 4px 3px 4px;
	margin: 0px;
}

.relationcontainer td
{
	border: 0px;
	border-top: 1px solid #D8D8D8;
	padding: 0 4px 3px 4px;
}

.relationcontainer p { padding: 4px 0 1px 0; }

.subnav { height: 28px; }

.subnav td
{
	border: 1px solid white;
	background-color: #E7EBDE;
	text-align: center;
	padding-top: 5px;
}

.subnav td a
{
	font-size: 10px;
	color: black;
	font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
}

.subnav  td a:link { color: black; }
.subnav td a:visited { color: black; }
.subnav td a:hover { color: #797868; }

.subnav tr .selected
{
	background-color: #CCEB6F;
	color: black;
	font-size: 11px;
	font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
}

/*
	breadcrum and links
*/

.breadcrumbar
{
	font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
	font-size: 10px;
	background: #CCEB6F;
	width: 100%;
	height: 18px;
	border-bottom: black;
	border-width: 0 0 1px 0;
	border-style: none none solid none;
}

.breadcrumbar td
{
	font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
	font-size: 10px;
	background: #CCEB6F;
	vertical-align: middle;
	padding: 3px 0px 3px 5px;
}

.breadcrumbar td a { color: black; }
.breadcrumbar td a:hover { color: #797868; }

a:link
{
	color: #7A9B15;
	text-decoration: none;
	font-weight: bold;
}

a:visited
{
	color: #7A9B15;
	text-decoration: none;
	font-weight: bold;
}

a:hover
{
	color: #797868;
	text-decoration: underline;
}

/*
	/ breadcrum and links
*/

.content
{
	border-color: #333;
	border-width: 0px 1px 1px 0px;
	border-style: solid;
}

.intro
{
	font-size: 11px;
	font-weight: bold;
}

.imgtitle
{
	font-size: 8pt;
	font-weight: normal;
}

/*
	Form items etc
*/

input
{
	text-align: left;
	font-family: "Lucide Grande", Arial, sans-serif;
	background-color: #D9DDDE;
	margin: 2px;
	padding: 2px;
	font-size: 1.2em;
}

/* this is for the radiobuttons on the homepage
   MSIE shows a background color */
input.ie
{
	text-align: left;
	font-family: "Lucide Grande", Arial, sans-serif;
	background-color: #fff;
	margin: 2px;
	padding: 2px;
	font-size: 1.2em;
}

input.mmbase
{
	text-align: left;
	font-family: "Lucide Grande", Arial, sans-serif;
	background-color: #D9DDDE;
	margin: 2px;
	padding: 2px;
	font-size: 1.2em;
}

select
{
	font-family: "Lucide Grande", Arial, sans-serif;
	font-size: 1.2em;
	background-color: #D9DDDE;
	padding: 2px;
	margin: 2px;
}

textarea { 
	background-color: #D9DDDE; 
	border-color: #666;
	border-width: 1px 0 0 1px;
	font-size: 1.2em;
}

/* Stylesheet for news pages in dev portal */
.newsinhoud
{
	width: 540px;
	padding: 10px 40px 10px 0px;
}

.newstitle
{
	font-family: "Lucida Grande", Geneva, Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-weight: bold;
	padding: 5px 0px 4px 0px;
}

.newssubtitle
{
	padding: 0px 5px 5px 0px;
	font-family: "Lucida Grande", Geneva, Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #333;
}

.newssubL
{
	position: relative;
	float: left;
	display: inline;
	margin: 0;
	font-size: 10px;
}

.newssubR
{
	position: relative;
	float: right;
	display: inline;
	margin: 0;
	font-size: 10px;
}

.newsintro
{
	padding: 10px 0px 10px 0px;
	font-weight: bold;
	clear: both;
}

.newsbody
{
	line-height: 130%;
	padding: 0pt 5pt 0pt 0pt;
}

.newsurls
{
	position: relative;
	float: right;
	margin: 0px 10px 5px 10px;
}

.newsnextprev
{
	margin: 5px 0px 0px 0px;
	border-color: #797868;
	border-width: 1px;
	border-style: solid;
	width: 100%;
}

.newsnextprev td
{
	background-color: #CCEB6F;
	padding: 1px 20px 1px 20px;
	text-align: center;
	vertical-align: middle;
	border-color: #FFFFFF;
	border-width: 1px;
	border-style: solid;
}

/* tabs */
#tabnav
{
	height: 20px;
	margin: 0;
	padding-left: 10px;
	background: url(/../images/tab_bottom.gif) repeat-x bottom;
}

#tabnav li
{
	margin: 0;
	padding: 0;
	display: inline;
	list-style-type: none;
}

#tabnav a:link, #tabnav a:visited
{
	float: left;
	background: #ddd;
	font-size: 10px;
	line-height: 14px;
	font-weight: bold;
	padding: 2px 10px 2px 10px;
	margin-right: 4px;
	border: 1px solid #000000;
	text-decoration: none;
	color: #666;
}

#tabnav a:link.active, #tabnav a:visited.active
{
	border-bottom: 1px solid #f3f3f3;
	background: #f3f3f3;
	color: #000000;
}

#tabnav a:hover { background: #f3f3f3; }

/* search */
#searchhome
{
	padding: 10px 0 0 0;
}
#searchform
{
	margin: 15px 10px 20px 0;
	padding: 10px;
	width: 50%;
	border-color: #666;
	border-style: solid;
	background-color: #efefef;
	border-width: 1px;
}
.documentXYZ { margin: 10pt 0 10pt 0; }
#results { margin: 10px 10px 10px 0; }
#results ul
{
	list-style: none;
	padding: 0;
	margin: 0;
	/* False value for IE4-5.x/Win. */
	voice-family: "\"}\"";
	voice-family: inherit;
	/* You get it. Good value for compliant browers. */
}

#results li
{
	text-decoration: none;
	text-align: left;
	margin: 0 0 1em 0;
	padding: 0;
}

#results li a
{
	/*	background-color: #EFEFEF;	*/
	display: block;
	text-decoration: none;
}

#results li a:hover
{
	color: #330;
	text-decoration: underline;
}

#results li a:active
{
	color: #CF0;
	text-decoration: underline;
}
.resultcomment { color: #666; }
/* end search*/

/* warning (bad) and message (good) trickered by user action */
.warning
{
	border-style: double;
	border-color: #C03;
	border-width: 2px;
	background-color: #F99;
	margin: 15px 6px 6px 6px;
	padding: 10px;
	width: 60%;
}

.message
{
	border-style: double;
	border-color: #360;
	border-width: 2px;
	background-color: #CFC;
	margin: 15px 6px 6px 6px;
	padding: 10px;
	width: 60%;
}
