/* Stylesheet for news pages in dev portal */
.newsinhoud
{
	width: 540px;
	padding: 10px 40px 10px 0px;
}

.newstitle
{
	font-family: "Lucida Grande", Geneva, Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-weight: bold;
	padding: 5px 0px 4px 0px;
}

.newssubtitle
{
	padding: 0px 5px 5px 0px;
	font-family: "Lucida Grande", Geneva, Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #333;
}

.newssubL
{
	position: relative;
	float: left;
	display: inline;
	margin: 0;
	font-size: 10px;
}

.newssubR
{
	position: relative;
	float: right;
	display: inline;
	margin: 0;
	font-size: 10px;
}

.newsintro
{
	padding: 10px 0px 10px 0px;
	font-weight: bold;
	clear: both;
}

.newsbody
{
	line-height: 130%;
	padding: 0pt 5pt 0pt 0pt;
}

.newsurls
{
	position: relative;
	float: right;
	margin: 0px 10px 5px 10px;
}

.newsnextprev
{
	margin: 5px 0px 0px 0px;
	border-color: #797868;
	border-width: 1px;
	border-style: solid;
	width: 100%;
}

.newsnextprev td
{
	background-color: #CCEB6F;
	padding: 1px 20px 1px 20px;
	text-align: center;
	vertical-align: middle;
	border-color: #FFFFFF;
	border-width: 1px;
	border-style: solid;
}

/* tabs */
#tabnav
{
	height: 20px;
	margin: 0;
	padding-left: 10px;
	background: url(/../images/tab_bottom.gif) repeat-x bottom;
}

#tabnav li
{
	margin: 0;
	padding: 0;
	display: inline;
	list-style-type: none;
}

#tabnav a:link, #tabnav a:visited
{
	float: left;
	background: #ddd;
	font-size: 10px;
	line-height: 14px;
	font-weight: bold;
	padding: 2px 10px 2px 10px;
	margin-right: 4px;
	border: 1px solid #000000;
	text-decoration: none;
	color: #666;
}

#tabnav a:link.active, #tabnav a:visited.active
{
	border-bottom: 1px solid #f3f3f3;
	background: #f3f3f3;
	color: #000000;
}

#tabnav a:hover { background: #f3f3f3; }