/* 
    MMBase portal navigation (the 3 tabs)
*/

.blackline
{
	background-color: #033;
	height: 1px;
}

.breadcrum
{
	font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
	font-size: 10px;
	float: left;
	padding: 5px 2px 0px 4px;
	font-weight: bold;
}

.breadcrum a { color: black; }
.breadcrum a:hover { color: #797868; }

#top
{
	position: relative;
	height: 20px;
	background-color: #cceb6f;
	border-color: #033;
	border-width: 0 0 1px 0;
	border-style: none none solid none;
}

/* portal navigation (the tabs) */
#portalnav
{
	position: absolute;
	top: 3px;
	left: 76%;
	list-style: none;
	margin: 0;
	padding: 0;
	height: 20px;
	display: inline;
	overflow: hidden;
	width: 230px;
	/*float: right;*/
}

#portalnav li
{
	margin: 0;
	padding: 0;
	display: inline;
	list-style-type: none;
}

#portalnav a
{
	float: left;
	padding: 18px 0 0 0;
	overflow: hidden;
	height: 0px !important;
	/**/
	/* for IE5/Win only */
}

#portalnav a:hover, #portalnav a:active { background-position: 0 0px; }
#portalnav a.selected { background-position: 0 -36px; }

#butmmbase a
{
	width: 70px;
	background: url(../media/p_mmbase.gif) top left no-repeat;
	background-position: 0 -18px;
}

#butdev a
{
	width: 70px;
	background: url(../media/p_dev.gif) top left no-repeat;
	background-position: 0 -18px;
}

#butfound a
{
	width: 70px;
	background: url(../media/p_found.gif) top left no-repeat;
	background-position: 0 -18px;
}
/* end of portal navigation (the tabs) */

/*
.tdheader
{
	background-color: #000;
	height: 55px;
}
*/
.tdheader
{
	background-image: url(../media/repeat_found.gif);
	background-repeat: repeat-x;
	background-color: #330;
	height: 55px;
}

.tdheader img { border-width: 0; }
